.UpgradeButton {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 20px;
  justify-content: space-between;
  filter: drop-shadow(10px 10x 10px black);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-stretch: ultra-expanded
}

.UpgradeButton > h4 {
  margin-top: 0px;
  width:100%;
  justify-content:space-between;
}

.UpgradeInactive{
  color: darkgray;
  cursor:default;
  border:2px solid #303c47;
  border-radius: 20px;
  background: #182937;
  
}

.UpgradeActive{
  color:white;
  cursor: pointer;
  border:2px solid #303c47;
  transition: border 0.5s;
  border-radius: 20px;
  background: #FF2969;
  background: linear-gradient(90deg, rgba(49, 60, 71, 1) -30%, rgba(255, 41, 105, 1) 120%);
}
.UpgradeActive:hover{
  border: 2px solid #FF2969;
  border-radius: 20px;
  transition: scale(1.1);
}

h1{
  font-size: 30px;
  margin-bottom:3px;
  margin-top:5px;
}

.pricetag{
  display:flex;
  font-size:24px;
  margin-right:5px;
  align-self: center;
}
.nameplate{
  display:flex;
  flex-direction: column;
}
.nameplate>h1{
  text-transform: uppercase;
  font-weight: 100;
}

.nameplate>p{
  margin:0px;
  font-size: 12px;
  text-transform: uppercase;
  color:#a5acb3;
}