.upgradeInv {
  min-width: 120px;
  padding: 10px;
  color: lightslategray;
}
.saveBtns {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.saveDel {
  color: red;
  margin: auto;
  text-align: center;
  cursor: pointer;
  font-size: x-small;
}

.upgRow {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.upgCount {
  margin-left: 10px;
}

.statsContainer {
  background-color: #303c47;
  padding: 20px;
}

.clickerTitle {
  text-align: left;
  margin-top: 0px;
  font-weight: normal;
}
