.UpgradeMenu{
  border: 2px solid 303c47;
  border-top-left-radius: 20px;
  margin-top:0px;
  width: 40%;
  min-height: 500px;
  padding:10px;
  background: linear-gradient(90deg, #303c47 20%, #313c4700 100%);
}

.UpgradeMenu>h3{
  text-align:center;
  margin-bottom:20px;
  margin-top: 10px;
  text-transform: uppercase;
  color: #b49c55;
  font-weight:normal;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  gap:10px;
  display: flex;
  flex-direction: column;
}

hr{
  border-top: 6px solid #182937;
  margin-top:3px;
  margin-bottom:3px;
  border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}

.linePink{
  border-top: 6px solid #FF2969;
}

.lineGold{
  border-top: 6px solid #b49c55;
  margin-top:3px;
  margin-bottom:3px;
}

.lineLight{
  border-top: 6px solid#303c47;
}