.App {
  background-color: #182937;

  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  color: #ff2969;
  border-radius: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  user-select: none;
}

.App-logo {
}

.App-logo:hover {
}

.App-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #61dafb;
}

.UIContainer {
  display: flex;
  flex: 1;
}

.ClickMenu {
  width: 70%;
  padding: 30px;
  display: flex;
}

.ClickButton {
  width: 200px;
  height: 200px;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 0;
  transition: opacity 0.5s;
  cursor: pointer;
  opacity: 0.3;
}

.ClickButton:hover {
  opacity: 1;
}
.ClickButton:active {
  filter: brightness(50%);
  scale: 0.95;
}

.ClickArea {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
